.settings-box{
    display: flex;
    height: 100%;
    position: relative;
    overflow: hidden;
    top:40px;
}
.settings-nav{
    width: 10%;
    height: 100%;
    margin: 0;
    padding-top:20px;
    position: fixed;
}


.settings-nav ul{
    display: flex;
    flex-direction: column;
    text-align: left;
    list-style-type: none;
    margin: 0 ;
    left: 0;
    margin: 250px  0 0 0;
    padding-inline-start: 0px
}


.settings-nav ul  li{
    justify-content: center;
    padding:30px 0 20px 10px;
    border: 2px solid #f1f4fc;
    cursor: pointer;
    overflow: hidden;
    font-size: 13px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.settings-nav ul li i{
    padding-right: 10px;
}
.settings-board{
  width: 90%;
  padding:8rem 0rem 0 0rem;
  left: 20%;
  position: relative;
}

.profile-name{
    padding: 30px 0 20px;
    display: flex;
    font-size: 0.8rem;
    width: 40%;
    min-width: 30px;
    align-items: center;
}
.profile-pic{
    display: flex;
    align-items: center;
    width: 40%;
    min-width: 50px;
}
.settings-board .profile-name span{
    margin-left: 10px;
    cursor: pointer;
    
}
.settings-board .profile-pic span{
    font-size: 12px;
    margin-left: 10px;
    cursor: pointer;
    
}


.profile-pic span{
    font-size: 12px;
    cursor: pointer;
}

.profile-form{
    padding: 2rem 0 0 0;
    display: flex;
    flex-direction: column;
}
.profile-form span ,   .delete-account  span{
    font-size: 0.8rem;
    color: rgb(50, 48, 48);

}

.profile-input{
    border:0.5px solid rgb(88, 83, 83) ;
    width:70%;
    height: 38px;
    min-width: 40%;
    padding: 0 0 0 1rem;
    text-align: center;
    margin: 0.5rem 0 0 0;
    position: relative;

}



.profile-button{
    border-radius: 0%;
    width: 70px;
    margin: 0 0 0 0.5rem;
}
.delete-account{
    display: flex;
    font-size: 13px;
    padding: 4rem 0 0 0;
    width: 78%;
    justify-content: space-between;
}